@model ProjetoHorasCompl.Models.Aluno

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AluNome)
        </dd>
        <dt>
            Matrícula:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Turma:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Turma.TurNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.Id">Deletar</a> |
    <a asp-action="Index">Voltar</a>
</div>
